spring:
  application:
    name: eureka-service

server:
  port: 8302

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    server:
      waitTimeInMsWhenSyncEmpty: 0

zuul:
  prefix: /api
  routes:
    roca-db-service:
      path: /roca-db-service/**
      url: http://localhost:8303
    roca-bl-service:
      path: /roca-bl-service/**
      url: http://localhost:8301     