<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="ui-g-12 ui-md-6 ui-lg-4">
      <div class="ui-g-3">
        UserName
      </div>
      <div class="ui-g-6">
        <input id="input" type="text" pInputText >
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
</div>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="ui-g-3">
          Password
        </div>
        <div class="ui-g-6">
            <input type="password" id="password" pPassword >
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="ui-g-12 ui-md-6 ui-lg-4">
      <div class="ui-g-3">
      </div>
      <div class="ui-g-3">
        <button pButton type="button" label="Login" class="ui-button-rounded"></button>
      </div>
      <div class="ui-g-3">
        <button pButton type="button" label="Signup" class="ui-button-rounded"></button>
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
</div>

